@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h1>Welcome to StackOverflow Clone</h1>
    <p class="lead">Ask questions and share answers!</p>
    <a href="/Questions" class="btn btn-primary btn-lg mt-3">View Questions</a>
</div>
